extends layout

block content

    if user
        - var currentBoard = user.boards.filter(function (o) { return o.name === board })
        - if (currentBoard) currentBoard = currentBoard[0]

    div#sidebar

        if user
            div#addBoard
                input#boardNameText(type="text" placeholder="Add Board")
                input#boardNameSubmit.button(type="submit" value="+")

            ul#boardList
                each val in user.boards
                    li(class= board === val.name ? "active" : "" data-board="#{val.name}")
                        a(href='/#{encodeURIComponent(val.name)}')= val.name

            div#sidebar-foot
                if user.firstname
                    | Hi #{user.firstname}!
                else
                    | Howdy!
                a(href="/auth/logout") Logout
        else
            form(action="/auth/openid" method="post")
                div
                    label OpenID:
                    input(type="text" name="openid_identifier")
                    input(type="submit" value="Sign in")

    if user && currentBoard
        div#content

            div#addSubContainer
                a.button#addNewSubscription(href="#") Add Subscription

        div#add-subscription-lightbox.lightbox
            div.lightbox-inner
                input#addSubscriptionText.entry(type="text" placeholder="Subscription")
                input#addSubscriptionButton.button(type="submit" value="Add Subscription")

        script.
            var page = {
              board: "#{currentBoard.name}",
              subscriptions: !{JSON.stringify(currentBoard.subscriptions)}
            }
    else
        script.
            var page = {}

    script(src="/javascripts/tweets.js")
