extends layout

block content

    div#sidebar

        if user
            | Hi #{user.firstname}!
            a(href="/auth/logout") Logout

            input#alertSub(type="text")
            input#subButton(
                type="submit"
                value="Add Subscription"
            )

            ul#alertList
                each val in user.subscriptions
                    li
                        a(href='/#{encodeURIComponent(val)}')= val

            a#togglePause(href="#") Pause
        else
            form(action="/auth/openid" method="post")
                div
                    label OpenID:
                    input(type="text" name="openid_identifier")
                    br
                div
                    input(type="submit" value="Sign in")


    div#content

    if user
        script.
            var page = { alert: "#{alert}" }
    else
        script.
            var page = {}

    script(src="/javascripts/tweets.js")
